.icon {
  $icon-width: 50px;
  $icon-height: 50px;
  $icons: ("chevron": 0, "cutlery": 1, "cake": 2, "crown": 3, "boat": 4, "scuba": 5, "bolt": 6, "skull": 7);

  background: url(./icons.png) no-repeat;
  display: inline-block;
  width: $icon-width;
  height: $icon-height;
  overflow: hidden;
  background-clip: padding-box;
  background-position-x: 0;
  background-position-y: #{-1*$icon-height};

  &:hover, &.icon-bright {
    background-position-y: 0;
  }

  @each $name, $position in $icons {
    &.icon-#{$name} {
      background-position-x: #{$position*$icon-width*-1};
    }
  }
}





