@import '../styles/_shared.scss';

.talent-tree {
    justify-content: start;
}

.talent {
    height: 56px;
    padding: 0;
    border: #999999 solid 3px;

    transition: border-color 1s;
    transition: color 0.5s;

    &.enabled {
        border-color: lightskyblue;
    }
}

.talent-header {
    margin-right: 50px;

    @include mobile {
        & {
            font-size: 24px;
            margin-right: 0;
            margin: 32px;
        }
    }
}

.talent-connector {
    width: 100px;
    height: 10px;
    background-color: #444;

    transition: background-color 1s;

    &.enabled {
        background-color: #777;
    }

    @include mobile {
        & {
            width: 10px;
            height: 100px;
        }
    }
}

.point-info-container {

    .point-info {
        margin: 32px;
        margin-left: 64px;
        font-size: 20px;
        padding: 16px;
        background-color: #202020;
        text-align: center;
    }

    @include mobile {
        & {
            order: 0;
        }

        & .point-info {
            margin-left: 32px;
        }
    }
}

